[submodule "3rdparty/SQLiteCpp"] 
  path = 3rdparty/SQLiteCpp 
  url = https://github.com/SRombauts/SQLiteCpp.git

[submodule "3rdparty/date"] 
  path = 3rdparty/date 
  url = https://github.com/HowardHinnant/date.git

[submodule "3rdparty/fmt"] 
  path = 3rdparty/fmt 
  url = https://github.com/fmtlib/fmt.git

[submodule "3rdparty/json"] 
  path = 3rdparty/json 
  url = https://github.com/nlohmann/json.git
